@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme inline {
  --color-primary: 220 38 127; /* Deep purple */
  --color-secondary: 30 30 46; /* Dark gray-blue */
  --color-accent: 255 193 7; /* Golden yellow */
  --color-success: 34 197 94;
}
* {
  font-family: "roboto", sans-serif;
}
.bg-gradient {
  background-color: transparent;
  background-image: linear-gradient(180deg, #d12f80 0%, #ff9900 100%);
}
.bg-gradient2 {
  background-color: transparent;
  background-image: linear-gradient(180deg, #dc9c35 -119%, #ff9900 100%);
}

.roboto {
  font-weight: 700;
  font-family: "ROBOTO", sans-serif;
}

::-webkit-scrollbar {
  @apply w-1;

}
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b to-[#ff9900] from-[#  background-image: linear-gradient(180deg, #d12f80 -119%, #ff9900 100%);
];

}

button{
  @apply cursor-pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}